@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #081b20;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 20px 10%;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

span {
    color: #00b4d8;
}

.navbar a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.5s;
}

.navbar a:hover {
    color: #fbb02d;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.home-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.home-content h1 {
    font-size: 55px;
}

.home-content h3 {
    font-size: 35px;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn {
    border: none;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #ffa200;
    margin-top: 20px;
    transition: 0.3s;
}

.home-content .btn a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.home-content .btn:hover {
    background-color: #081b20;
    border: 1px solid #ffa200;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    background-color: #121a1d;
    height: 100vh;
    flex-direction: column;
    color: white;
}

.testimonials h2 {
    font-size: 55px;
    margin-bottom: 30px;
}

#testimonials-list{
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

#testimonials-list li {
    background-color: #ffa200;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #081b20;
}
.projects h2 {
    font-size: 55px;
    text-align: center;
}

#projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 30px;
    justify-content: center;
}
.project-card {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #081b20;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px #ffa200;
    transition: 0.3s ease-in-out;
    gap: 10px;
    max-width: 500px;
}

.project-card:hover {
    box-shadow: 0 0 15px #ffa200,
                0 0 25px #ffa200;
    transform:scale(1.05);
}

